body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:857px;
}
#u28469 {
  position:absolute;
  left:-3px;
  top:0px;
  width:1204px;
  height:857px;
}
#u28470 {
  position:absolute;
  left:2px;
  top:420px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28471 {
  position:absolute;
  left:91px;
  top:74px;
  width:48px;
  height:28px;
  overflow:hidden;
}
#u28471_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u28471_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
