body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:378px;
}
#u26525 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:378px;
}
#u26526 {
  position:absolute;
  left:2px;
  top:181px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
