body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1906px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:945px;
}
#u7082 {
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:945px;
}
#u7083 {
  position:absolute;
  left:2px;
  top:464px;
  width:1902px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7084 {
  position:absolute;
  left:1060px;
  top:645px;
  width:71px;
  height:16px;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1319px;
  height:45px;
}
#u7086 {
  position:absolute;
  left:490px;
  top:711px;
  width:1319px;
  height:45px;
}
#u7087 {
  position:absolute;
  left:2px;
  top:14px;
  width:1315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:54px;
}
#u7088 {
  position:absolute;
  left:474px;
  top:704px;
  width:36px;
  height:54px;
}
#u7089 {
  position:absolute;
  left:2px;
  top:19px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090 {
  position:absolute;
  left:1131px;
  top:637px;
  width:148px;
  height:30px;
}
#u7090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7090_input:disabled {
  color:grayText;
}
#u7091 {
  position:absolute;
  left:1131px;
  top:670px;
  width:249px;
  height:40px;
  overflow:hidden;
}
#u7091_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7091_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F5A037;
}
#u7092 {
  position:absolute;
  left:19px;
  top:10px;
  width:43px;
  height:16px;
  color:#F5A037;
}
#u7093 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F5A037;
}
#u7094 {
  position:absolute;
  left:83px;
  top:10px;
  width:43px;
  height:16px;
  color:#F5A037;
}
#u7095 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F5A037;
}
#u7096 {
  position:absolute;
  left:6px;
  top:5px;
  width:13px;
  height:30px;
  font-size:20px;
  color:#F5A037;
}
#u7097 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F5A037;
}
#u7098 {
  position:absolute;
  left:70px;
  top:5px;
  width:13px;
  height:30px;
  font-size:20px;
  color:#F5A037;
}
#u7099 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u7100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:9px;
}
#u7100 {
  position:absolute;
  left:1044px;
  top:648px;
  width:15px;
  height:9px;
}
#u7101 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7102 {
  position:absolute;
  left:1301px;
  top:637px;
  width:148px;
  height:30px;
}
#u7102_input {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7102_input:disabled {
  color:grayText;
}
