body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1902px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:842px;
}
#u49619 {
  position:absolute;
  left:0px;
  top:0px;
  width:1902px;
  height:842px;
}
#u49620 {
  position:absolute;
  left:2px;
  top:413px;
  width:1898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u49621 {
  position:absolute;
  left:852px;
  top:257px;
  width:89px;
  height:33px;
  text-align:left;
}
#u49622 {
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
